{% extends 'todoapp/base.html' %}

{% block title %}Список задач{% endblock %}

{% block content %}
    <a href="{% url 'add-task' %}" class="btn btn-primary mb-3">➕ Добавить задачу</a>
    {% if tasks %}
		<div class="mb-3">
			<a href="{% url 'task-list' %}" class="btn btn-outline-secondary {% if not status %}active{% endif %}">Все</a>
			<a href="?status=active" class="btn btn-outline-secondary {% if status == 'active' %}active{% endif %}">Активные</a>
			<a href="?status=completed" class="btn btn-outline-secondary {% if status == 'completed' %}active{% endif %}">Выполненные</a>
			<a href="{% url 'add-task' %}" class="btn btn-primary float-end">➕ Добавить задачу</a>
		</div>

        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item d-flex justify-content-between align-items-center">

					<div class="d-flex justify-content-between align-items-center">
						<div>
							<strong>{{ task.title }}</strong>
							{% if task.description %}
								<br><small class="text-muted">{{ task.description }}</small>
							{% endif %}
						</div>
						<div>
							<a href="{% url 'toggle-complete' task.id %}" class="btn btn-sm btn-outline-{% if task.completed %}warning{% else %}success{% endif %} me-2">
								{% if task.completed %}↩ Отменить{% else %}✅ Завершить{% endif %}
							</a>
							<a href="{% url 'edit-task' task.id %}" class="btn btn-sm btn-outline-primary">✏</a>
							<a href="{% url 'delete-task' task.id %}" class="btn btn-sm btn-outline-danger">🗑</a>
						</div>
					</div>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">Нет задач.</p>
    {% endif %}
{% endblock %}
